
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
}

body{
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxigen', sans-serif;    
}
#header-nav {
    width: 100%;
    height: 30px;
    background-color: #eff706;
    border-radius: 0;
    border: 0;
}

#logo-img{
    background:url('../image/pexels-vlad-bagacian-1028442.jpg') no-repeat;
    width: 150pw;
    height: 10px 15px 10px 0;
}